/*
    Footer
*/

#footer .s_text_block {
    padding: 48px 0 8px 0;
  }
  
  .footer_container {
    margin: 0 10%;
  }
  
  .row.footer_row {
    flex-wrap: nowrap;
  }
  
  .footer_link {
    line-height: 1.5rem;
  }
  
  .footer_row {
    .footer_menu {
      text-align: left;
      white-space: normal;
    }
  }
  
  .bottom_menu_icon {
    display: none;
  }
  
  @media only screen and (max-width: 990px) {
    #footer .s_text_block {
      padding: 10px 0 0;
    }

    .footer_container {
      margin: 0;
  
      .row.footer_row {
        margin: 0;
        align-items: center;
  
        br {
          display: none;
        }
      }
    }
  
    .o_footer {
      position: fixed;
      bottom: 0;
      height: 65px;
      width: 100%;
    }

    .footer_link {
      display: none;
      font-size: 0;
    }

    .div_footer_link {
      display: none;
      font-size: 0;
    }
  
    .col-lg-2.footer_menu {
      text-align: center;
      padding: 0;
  
      .bottom_menu_icon {
        font-size: clamp(12px, 7vw, 30px);
        display: inline;
      }
  
      h5 {
        font-size: 2vw;
      }
    }
  
    .o_footer_copyright {
      display: none;
    }
    
    #wrapwrap {
      padding-bottom: 65px;
    }
  }