/*
    Page Mon activité/Échanges, Mon activité/Mon agenda
*/

.s_activites_recentes.lg {
    max-height: 2000px;
    height: auto;
    padding-top: 0;
  }
  
  .activites_list.lg {
    width: 100%;
    flex-wrap: nowrap;
  
    .list_title {
      border-bottom: 1px solid $beta;
      margin-top: 6vh;
    }

    .agenda_btns {
      margin-left: auto;
      border: 1px solid #d6d6d6;
      border-radius: 7px;
      display: flex;
      align-items: center;
  
      .btn {
        padding: 1rem;
        line-height: 1rem;
        font-size: 1.5rem;
        border-radius: 7px;
        color: $beta;
      }

      divider {
        border-left: 1px solid $beta;
        height: 1.5rem;
      }
    }
  
    .activite.btn {
      height: 150px;
      display: flex;
      align-items: center;
  
      .activite_img {
        max-height: 150px;
      }
  
      .activite_infos {
        display: flex;
        width: 60%;
        height: 100%;
        align-items: center;
      }
  
      .activite_title {
        width: 30%;
      }
  
      .details {
        position: relative;
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
  
      .status {
        margin: auto 0 auto auto;
      }
  
      .details::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 20%;
        height: 60%;
        border-left: 1px solid $beta;
        border-radius: 2px;
      }
    }
  }
  
  .medium-btn.btn {
    color: $text-alpha;
    width: fit-content;
    padding: 1.5%;
    font-size: 1rem;
    margin-top: 5%;
  }
  
  @media only screen and (max-width: 990px) {
    .activites_list.lg .activite.btn {
      .activite_infos {
        flex-direction: column;
        align-items: unset;
        justify-content: center;
  
        .activite_title {
          width: auto;
        }
  
        //.time {
        //  display: none;
        //}

        .details {
          padding: 0;
          position: unset;
          height: auto;
        }
      }

      .details_link {
        display: none;
      }
    }
    
    .medium-btn.btn {
      max-width: 100%;
      margin: 5% auto;
      font-size: clamp(0.75rem, 2.5vw, 1rem);
      padding: 2.5%;
    }
  }